# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
