FASTMAIL_API_TOKEN=
# this needs to be formated as "http://<ip>:<port>" please include the http:// part thanks!
PROJECTZEUS_ADDRESS=
# Optionally, specify a project name from ProjectZeus to ignore
PROJECTZEUS_IGNORE_LABEL=wetransfer
# Host and port for the backend, for the frontend to connect to.
# For local development with docker-compose, this should be localhost:2155
VITE_BACKEND_HOST=localhost:2155
