FASTMAIL_API_TOKEN=
# this needs to be formated as "http://<ip>:<port>" please include the http:// part thanks!
PROJECTZEUS_ADDRESS=
# Optionally, specify a project name from ProjectZeus to ignore
PROJECTZEUS_IGNORE_LABEL=wetransfer
